/* Make sure these look good in light mode and dark mode!
 * If you omit any values, defaults will be used.
 */
$white: #fdf7fa;
$black: #262626;
$primary: #d64b89;
$secondary: #724bd6;
$tertiary: #6b6ef9;
